### Реальные данные одной компании (HeadSpace, разрабатывающей приложение для медитаций) о конверсии нового лендинга сайта и старого

Они имеют такой же формат, но внутри другие значения. Если случится так, что кто-то из тестовой группы попал на старый лендинг или наоборот, то при маленькой доле таких случаев данные надо будет почистить.

In [1]:
import pandas as pd

p1 = pd.read_csv('ab_data_practice.csv')
p1.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

##### ДЛЯ НАЧАЛА ПОСМОТРИМ НА КОЛИЧЕСТВО УНИКАЛЬНЫХ ЭЛЕМЕНТОВ В КАЖДОЙ КОЛОНКЕ

In [2]:
p1.nunique()

user_id         287621
timestamp       287621
group                2
landing_page         2
converted            2
dtype: int64

##### ПОСМОТРИМ ЕСТЬ ЛИ ДУБЛИКАТЫ ПО ПОСЕТИТЕЛЯМ

In [3]:
display(p1[p1.duplicated(['user_id'], keep = False)]['user_id'].nunique())
display(p1['user_id'].nunique())

0

287621

Видим, что дубликатов по посетителям нет.

##### ДОПОЛНИТЕЛЬНО ПРОВЕРИМ, ИСКЛЮЧЕНА ЛИ СИТУАЦИЯ, КОГДА КТО-ТО ИЗ ТЕСТОВОЙ ГРУППЫ НЕ ПОПАДАЕТ НА СТАРЫЙ ЛЕНДИНГ, И НАОБОРОТ

In [6]:
print(p1[(p1['group'] == 'treatment') & (p1['landing_page'] == 'old_page')].shape)
print(p1[(p1['group'] == 'treatment') & (p1['landing_page'] == 'new_page')].shape)
print(p1[(p1['group'] == 'control') & (p1['landing_page'] == 'old_page')].shape)
print(p1[(p1['group'] == 'control') & (p1['landing_page'] == 'new_page')].shape)

(236, 5)
(143622, 5)
(143545, 5)
(218, 5)

##### ПОСМОТРИМ НА ЭТИ ДУБЛИКАТЫ

In [7]:
display(p1[(p1['group'] == 'treatment') & (p1['landing_page'] == 'old_page')])
display(p1[(p1['group'] == 'control') & (p1['landing_page'] == 'new_page')])

        user_id                   timestamp      group landing_page  converted
286690   630052  2017-01-07 12:25:54.089486  treatment     old_page          1
286700   634005  2017-01-09 21:46:38.380550  treatment     old_page          1
286703   634881  2017-01-03 15:57:33.336873  treatment     old_page          1
286705   634971  2017-01-12 11:33:51.872035  treatment     old_page          1
286708   635606  2017-01-15 17:46:08.179882  treatment     old_page          1
...         ...                         ...        ...          ...        ...
287575   931431  2017-01-04 19:09:01.755350  treatment     old_page          1
287595   936335  2017-01-20 02:24:38.034645  treatment     old_page          1
287603   939304  2017-01-15 20:29:05.719670  treatment     old_page          1
287605   940548  2017-01-09 21:36:09.500091  treatment     old_page          1
287613   943016  2017-01-21 10:13:25.615426  treatment     old_page          1

[236 rows x 5 columns]

        user_id                   timestamp    group landing_page  converted
286692   631132  2017-01-18 09:02:56.450467  control     new_page          1
286694   631917  2017-01-05 20:43:35.651579  control     new_page          1
286697   633243  2017-01-20 17:55:11.217852  control     new_page          1
286704   634888  2017-01-08 13:32:56.102730  control     new_page          1
286710   636298  2017-01-10 04:24:10.211901  control     new_page          1
...         ...                         ...      ...          ...        ...
287601   938515  2017-01-11 06:04:05.839230  control     new_page          1
287604   939838  2017-01-15 05:41:03.779846  control     new_page          1
287607   941163  2017-01-11 11:31:39.283040  control     new_page          1
287609   941506  2017-01-03 22:52:54.891874  control     new_page          1
287620   945797  2017-01-11 03:04:49.433736  control     new_page          1

[218 rows x 5 columns]

In [8]:
# Создадим новый датафрейм 'control_old', в котором исключим пользователей из тестовой группы, которые попали на старый лендинг
control_old = p1[~(p1['group'] == 'treatment') & (p1['landing_page'] == 'old_page')]
control_old

        user_id                   timestamp    group landing_page  converted
0        851104  2017-01-21 22:11:48.556739  control     old_page          0
1        804228  2017-01-12 08:01:45.159739  control     old_page          0
4        864975  2017-01-21 01:52:26.210827  control     old_page          1
5        936923  2017-01-10 15:20:49.083499  control     old_page          0
7        719014  2017-01-17 01:48:29.539573  control     old_page          0
...         ...                         ...      ...          ...        ...
287608   941391  2017-01-21 18:36:40.236693  control     old_page          1
287611   942436  2017-01-09 19:09:04.323414  control     old_page          1
287612   942600  2017-01-22 20:32:13.236974  control     old_page          1
287614   943137  2017-01-09 23:38:12.339778  control     old_page          1
287616   944152  2017-01-21 03:33:28.813182  control     old_page          1

[143545 rows x 5 columns]

In [9]:
# Создадим новый датафрейм 'treatment_new', в котором исключим пользователей из контрол. группы, которые попали на новый лендинг
treatment_new = p1[~(p1['group'] == 'control') & (p1['landing_page'] == 'new_page')]
treatment_new

        user_id                   timestamp      group landing_page  converted
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
6        679687  2017-01-19 03:26:46.940749  treatment     new_page          1
8        817355  2017-01-04 17:58:08.979471  treatment     new_page          1
9        839785  2017-01-15 18:11:06.610965  treatment     new_page          1
...         ...                         ...        ...          ...        ...
287610   942058  2017-01-19 14:40:35.595600  treatment     new_page          1
287615   943176  2017-01-23 02:34:46.682339  treatment     new_page          1
287617   944533  2017-01-11 16:31:55.252610  treatment     new_page          1
287618   945131  2017-01-07 11:53:08.813744  treatment     new_page          1
287619   945627  2017-01-17 15:43:17.255322  treatment     new_page          1

[143622 rows x 5 columns]

In [10]:
# Объединим два полученных датафрейма:
grouped = pd.concat([control_old, treatment_new])
grouped

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
5        936923  2017-01-10 15:20:49.083499    control     old_page          0
7        719014  2017-01-17 01:48:29.539573    control     old_page          0
...         ...                         ...        ...          ...        ...
287610   942058  2017-01-19 14:40:35.595600  treatment     new_page          1
287615   943176  2017-01-23 02:34:46.682339  treatment     new_page          1
287617   944533  2017-01-11 16:31:55.252610  treatment     new_page          1
287618   945131  2017-01-07 11:53:08.813744  treatment     new_page          1
287619   945627  2017-01-17 15:43:17.255322  treatment     new_page          1

[287167 rows x 5 columns]

##### ПОСМОТРИМ НА БАЗОВЫЕ СТАТИСТИКИ

In [11]:
grouped.groupby('group').converted.mean()
# print(grouped.groupby('group').converted.mean())

group
control      0.121718
treatment    0.124312
Name: converted, dtype: float64

In [12]:
!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\max\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.15 in c:\users\max\anaconda3\lib\site-packages (from statsmodels) (1.19.2)
Requirement already satisfied: scipy>=1.1 in c:\users\max\anaconda3\lib\site-packages (from statsmodels) (1.5.2)
Requirement already satisfied: pandas>=0.21 in c:\users\max\anaconda3\lib\site-packages (from statsmodels) (1.1.3)
Requirement already satisfied: patsy>=0.5 in c:\users\max\anaconda3\lib\site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\max\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\max\anaconda3\lib\site-packages (from pandas>=0.21->statsmodels) (2.8.1)
Requirement already satisfied: six in c:\users\max\anaconda3\lib\site-packages (from patsy>=0.5->statsmodels) (1.15.0)

Теперь для теста устанавливаем следующие условия:

Нулевая гипотеза: нет никакой разницы в конверсии между старой и новой главными страницами.
Альтернативная гипотеза: новый лендинг даёт значимо большую конверсию, чем старый.
За α возьмём стандартное значение в 0.05.

##### ПРИМЕНЯЕМ Z-TEST И ВИДИМ СЛЕДУЮЩИЕ РЕЗУЛЬТАТЫ

In [13]:
from statsmodels.stats.weightstats import ztest

statistic, p_value = ztest(grouped[grouped['group'] == 'treatment'].converted.values,
                          grouped[grouped['group'] == 'control'].converted.values)

print(f"statistic: {statistic}")
print(f"p_value: {p_value}")

statistic: 2.1164957417289
p_value: 0.03430266698861987