# 7.Практика 3 - Дизайн эксперимента А-Б-тестирования
##### на основе данных с главной страницы интернет-магазина спортивных товаров

### А ТЕПЕРЬ — ПРАКТИКА!

У вас есть данные в том же формате, что мы разбирали в кейсе предыдущего юнита.

СКАЧАЙ МЕНЯ >>> https://drive.google.com/file/d/13H3UdqpFxPxV105Y2xQ5PnxrQVrBc_ct/view?usp=sharing

Примечание. Файл слишком большой для просмотра, однако у вас есть возможность его скачать.
Проведите исследование и ответьте на следующие вопросы:

Задание 7.1
0.0/1.0 point (graded)
Задача на выявление особенностей в данных.
Какое количество пользователей в данных?

  

  
Задание 7.2
0.0/1.0 point (graded)
Задача на выявление особенностей в данных.
Со скольких девайсов в среднем люди пользуются сайтом?
Ответ округлите до третьего знака после запятой.



Задание 7.3
0.0/1.0 point (graded)
Задача на сбор необходимых метрик.
Какую конверсию из показа в клик имеет пара mobile и accessories?
Ответ округлите до третьего знака после запятой.



Задание 7.4
0.0/1.0 point (graded)
Задача на оценку возможного влияния.
При цене за клик в 30 рублей и средней цене товара 200 рублей какова минимальная необходимая конверсия на новый баннер для пар mobile и accessories?
Ответ округлите до третьего знака после запятой.



Задание 7.5
0.0/1.0 point (graded)
Задача на подведение итогов.
Используя формулу, которой мы пользовались в предыдущем кейсе, определите, какое количество пользователей необходимо для проверки гипотезы конкретно варианта с парой mobile и accessories?
Ответ дать в целых числах.



Задание 7.6
0.0/1.0 point (graded)
Задача на подведение итогов.
Какое при этом количество дней необходимо по формуле без учёта покупательского цикла?
Ответ дать в целых числах.



Задание 7.7
0.0/1.0 point (graded)
Задача на подведение итогов.
А какое количество дней необходимо с учётом покупательского цикла в одну неделю?
Ответ дать в целых числах.

In [1]:
import pandas as pd
data = pd.read_csv('ab_design_students.csv')

In [2]:
# Cмотрим на формат файла:
data.head()

,order_id,user_id,page_id,product,site_version,time,title,target
0,b89133fad3c3d66a98f2f3b35b2baf5b,d31dba130f0f5d145784d6f12e7ac791,c475115f052fc2a66b012b05e7d8db4c,clothes,mobile,2019-04-01 09:40:00,banner_show,0
1,d22f8aafb6bede8ea1f158077242d6f2,90eb66572db8562ea4775c609fae0c9c,e5ba95ece55978eeb7e3dc06ffc1954d,clothes,mobile,2019-05-03 22:25:11,banner_show,0
2,dbf8af8933da13fb47c11e0c37dbcbc7,256547af4573f0c37b95367db48c9c97,abf009a69b45a28c61a0d625e86416ca,sports_nutrition,mobile,2019-04-22 22:45:02,banner_show,0
3,a5a5ec6445d56146f6d7cb425860a97a,25cbeb266d92aa4833d7db83e2d516e0,76af2826d9076eb4b8704a5be54112a4,sports_nutrition,desktop,2019-01-30 18:00:26,banner_show,0
4,a3d852888324e6b93da9a65b58e7bf3b,c53b5eaa52a8a87bd8472bb9248cc991,699ff473996739cb6029ffd29a614e25,company,desktop,2019-03-16 08:27:14,banner_show,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   order_id      1000000 non-null  object
 1   user_id       1000000 non-null  object
 2   page_id       1000000 non-null  object
 3   product       1000000 non-null  object
 4   site_version  1000000 non-null  object
 5   time          1000000 non-null  object
 6   title         1000000 non-null  object
 7   target        1000000 non-null  int64
dtypes: int64(1), object(7)
memory usage: 61.0+ MB

In [7]:
data.time.min(), data.time.max()

('2019-01-01 00:03:26', '2019-05-31 23:57:59')

In [8]:
data.shape

(1000000, 8)

##### Какое количество пользователей в данных?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 881582  верно

In [9]:
data.user_id.nunique()

881582

##### Со скольких девайсов в среднем люди пользуются сайтом?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 1.001

In [10]:
data.groupby('user_id').site_version.nunique().mean()

1.0013385028278707

In [11]:
data.title.unique()

array(['banner_show', 'order', 'banner_click'], dtype=object)

In [12]:
data[data.title == 'order'].groupby('user_id').order_id.nunique().mean()

1.004898724941806

"... При этом пользователи в основном заходят только с одного девайса, и в среднем сделано по одной покупке среди тех, кто что-то купил. Всё довольно ожидаемо, ничего усложнять аналитику не должно."

### СБОР НЕОБХОДИМЫХ МЕТРИК

У нас есть гипотеза, основанная на предположениях в задаче, что конверсия в покупку будет отличаться в зависимости от того, с какого девайса заходит пользователь, и от того, какой баннер ему показывается. Давайте это проверим, восстановив всю воронку с баннерами на сайте:

In [13]:
data.site_version.unique()

array(['mobile', 'desktop'], dtype=object)

In [14]:
new_df = {
    'site_version': [],
    'banner_type': [],
    'num_shows': [],
    'num_clicks': [],
    'num_orders': [],
    'conversion_show_click': [],
    'conversion_click_order': [],
    'conversion_show_order': []
}

for site_version, group in data.groupby('site_version'):
    for prod, pgroup in group.groupby('product'):
        num_shows = pgroup[pgroup['title'] == 'banner_show'].shape[0]
        num_clicks = pgroup[pgroup['title'] == 'banner_click'].shape[0]
        num_orders = pgroup[pgroup['title'] == 'order'].shape[0]
        
        new_df['site_version'].append(site_version)
        new_df['banner_type'].append(prod)
        new_df['num_shows'].append(num_shows)
        new_df['num_clicks'].append(num_clicks)
        new_df['num_orders'].append(num_orders)
        new_df['conversion_show_click'].append(num_clicks / num_shows)
        new_df['conversion_click_order'].append(num_orders / num_clicks)
        new_df['conversion_show_order'].append(num_orders / num_shows)

new_df = pd.DataFrame(new_df)

In [15]:
# Посмотрим на получившуюся таблицу:
new_df

,site_version,banner_type,num_shows,num_clicks,num_orders,conversion_show_click,conversion_click_order,conversion_show_order
0,desktop,accessories,48225,2305,2576,0.047797,1.117570,0.053416
1,desktop,clothes,49305,3933,7778,0.079769,1.977625,0.157753
2,desktop,company,56426,3433,0,0.060841,0.000000,0.000000
3,desktop,sneakers,48128,2535,3786,0.052672,1.493491,0.078665
4,desktop,sports_nutrition,49342,1638,1335,0.033197,0.815018,0.027056
5,mobile,accessories,121540,13998,2593,0.115172,0.185241,0.021335
6,mobile,clothes,122437,22115,5363,0.180624,0.242505,0.043802
7,mobile,company,130229,14046,0,0.107856,0.000000,0.000000
8,mobile,sneakers,122749,18997,4060,0.154763,0.213718,0.033076
9,mobile,sports_nutrition,124306,15389,1433,0.123799,0.093118,0.011528

"Как и предполагалось, конверсии по разным девайсам и баннерам отличаются, а это значит, что, скорее всего, однозначное решение о том, стоит ли заменять все баннеры, дать сложно.

Также здесь можно заметить, что конверсия из кликов в заказ в некоторых случаях больше 1.0: такого быть, конечно, не может. Возможно, часть пользователей и так шли покупать соответствующий товар, просто им дополнительно показали баннер. Но вероятен и тот вариант, что баннер тоже повлиял, только до покупки получился другой.

В реальной ситуации мы бы пошли за ответами к продакт-менеджеру: обычно они хорошо разбираются в возможных траекториях пользователей, потому что часто с ними общаются. А сейчас это будет просто дополнительная вводная, которую будем иметь в виду."

In [16]:
pgroup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141128 entries, 2 to 999999
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      141128 non-null  object
 1   user_id       141128 non-null  object
 2   page_id       141128 non-null  object
 3   product       141128 non-null  object
 4   site_version  141128 non-null  object
 5   time          141128 non-null  object
 6   title         141128 non-null  object
 7   target        141128 non-null  int64
dtypes: int64(1), object(7)
memory usage: 9.7+ MB

##### Какую конверсию из показа в клик имеет пара mobile и accessories?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 0.115

In [17]:
new_df[(new_df['site_version'] == 'mobile') & (new_df['banner_type'] == 'accessories')]

,site_version,banner_type,num_shows,num_clicks,num_orders,conversion_show_click,conversion_click_order,conversion_show_order
5,mobile,accessories,121540,13998,2593,0.115172,0.185241,0.021335

### ОЦЕНКА ВОЗМОЖНОГО ВЛИЯНИЯ

В силу того, что конверсии между собой отличаются, рекомендуется производить А/B-тестирование на все 10 возможных вариантов. И, если разработка и руководство допускают такой вариант, предложить заменить только некоторые — те, которые принесут больше денег.

Но сначала надо посчитать потенциальную выгоду в деньгах: возможно, мы можем дать точный ответ и без тестирования.

Обычно о цене за клик договариваются напрямую с заказчиком, поэтому для нас это будет просто очередной вводной для дизайна эксперимента. Давайте смоделируем наш дизайн со следующими входными данными:

Средняя цена товара — 300 рублей Цена за клик — 20 рублей Покупательский цикл — 7 дней С ними мы можем посчитать необходимую конверсию для каждого варианта, которая будет зарабатывать для нас большее количество денег, чем сейчас. Сделаем это:

In [18]:
cost_per_click = 30
avg_product_price = 200

new_df['cost_per_click_now'] = new_df['num_orders'] * avg_product_price / num_clicks
new_df['minimum_needable_conversion'] = ((new_df['num_orders'] * avg_product_price) / cost_per_click) / new_df['num_shows']

"Здесь мы смоделировали количество денег, которые приносит каждый клик сейчас, и рассчитали необходимую конверсию на новые баннеры, чтобы их обновление окупилось. Посмотрим на полученные значения:"

In [19]:
new_df[['site_version', 'banner_type', 'cost_per_click_now', 'minimum_needable_conversion']]

,site_version,banner_type,cost_per_click_now,minimum_needable_conversion
0,desktop,accessories,33.478459,0.356109
1,desktop,clothes,101.085191,1.051685
2,desktop,company,0.000000,0.000000
3,desktop,sneakers,49.203977,0.524435
4,desktop,sports_nutrition,17.350055,0.180374
5,mobile,accessories,33.699396,0.142230
6,mobile,clothes,69.699136,0.292014
7,mobile,company,0.000000,0.000000
8,mobile,sneakers,52.764962,0.220504
9,mobile,sports_nutrition,18.623692,0.076853

Как можно заметить, все они выше единицы, а получить кликов больше, чем просмотров, мы явно не можем.
В таком случае стоит сразу донести до менеджера вывод о том, что новые рекламные баннеры наше положение не улучшат.

##### При цене за клик в 30 рублей и средней цене товара 200 рублей какова минимальная необходимая конверсия на новый баннер для пар mobile и accessories?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 0.142  верно

In [20]:
new_df[(new_df['site_version'] == 'mobile') & (new_df['banner_type'] == 'accessories')]

,site_version,banner_type,num_shows,num_clicks,num_orders,conversion_show_click,conversion_click_order,conversion_show_order,cost_per_click_now,minimum_needable_conversion
5,mobile,accessories,121540,13998,2593,0.115172,0.185241,0.021335,33.699396,0.14223

### ПОДВЕДЕНИЕ ИТОГОВ

Да, всё выглядит логично — но мы помним, что у нас другие вводные, а значит, без А/B-теста не обойтись. Это позволит нам утвердиться в нашем решении, ведь в теории конверсия от рекламных баннеров может быть выше конверсии внутренних баннеров интернет-магазина.

Мы определились, что будем на каждый вариант девайса и баннера тестировать новую версию и сравнивать их между собой. Ключевой метрикой для нас, естественно, будет конверсия из показа в клик. То есть задачу разработчику уже можно поставить.

Единственное — осталось определиться со временем проекта. Для этого:

Посчитаем необходимый объём выборки для каждого варианта, воспользовавшись знакомой формулой%D0%9C13.6%20-%20%D1%84%D0%BE%D1%80%D0%BC%D1%83%D0%BB%D0%B0.jpg,
Вычислим количество дней, зная, что у нас есть данные примерно за 180 дней,
Выберем наибольший вариант, округлив число до кратного семи (из-за покупательского цикла).
new_df["needed_experiment_users"] = 16 * new_df["conversion_show_click"] * (1 - new_df["conversion_show_click"]) / ((new_df["minimum_needable_conversion"] - new_df["conversion_show_click"]) ** 2)

new_df["needed_num_days"] = new_df["needed_experiment_users"] / (new_df["num_shows"] / 180)

In [21]:
new_df['needed_experiment_users'] = 16 * new_df['conversion_show_click'] * (1 - new_df['conversion_show_click']) / ((new_df['minimum_needable_conversion'] - new_df['conversion_show_click']) ** 2)    
new_df['needed_num_days'] = new_df['needed_experiment_users'] / (new_df['num_shows'] / 180)

In [22]:
# Посмотрим на результат:

new_df[['site_version', 'banner_type', 'cost_per_click_now', 'minimum_needable_conversion', 
        'needed_experiment_users', 'needed_num_days']]

,site_version,banner_type,cost_per_click_now,minimum_needable_conversion,needed_experiment_users,needed_num_days
0,desktop,accessories,33.478459,0.356109,7.660696,0.028594
1,desktop,clothes,101.085191,1.051685,1.243347,0.004539
2,desktop,company,0.000000,0.000000,246.981649,0.787876
3,desktop,sneakers,49.203977,0.524435,3.587179,0.013416
4,desktop,sports_nutrition,17.350055,0.180374,23.706977,0.086483
5,mobile,accessories,33.699396,0.142230,2227.021286,3.298205
6,mobile,clothes,69.699136,0.292014,190.844877,0.280569
7,mobile,company,0.000000,0.000000,132.345721,0.182926
8,mobile,sneakers,52.764962,0.220504,484.273039,0.710141
9,mobile,sports_nutrition,18.623692,0.076853,787.490093,1.140317

"Понятно, что мы точно не будем учитывать значения с необходимой конверсией 0 и больше 1. Отбросив их, получаем, что для всех вариантов хватает дня, чтобы достичь нужных результатов. Делаем поправку на покупательский цикл и устанавливаем неделю в качестве срока A/B-тестирования.

Дополнительно стоило бы ещё учесть в данном случае эффект новизны, но такой кейс слишком зависит от конкретной области, с которой мы работаем, поэтому сейчас его упустим. В реальной ситуации можно было бы также проконсультироваться на эту тему с менеджером продукта.

Отлично, можно начинать проводить эксперимент!
При подведении итогов важно не забывать о том, что мы имеем дело с множественной проверкой гипотез, поэтому необходимо будет применить поправку Бонферрони либо метод Холма."

In [23]:
new_df_2 = new_df[['site_version', 'banner_type', 'cost_per_click_now', 'minimum_needable_conversion', 
        'needed_experiment_users', 'needed_num_days']]
new_df_2

,site_version,banner_type,cost_per_click_now,minimum_needable_conversion,needed_experiment_users,needed_num_days
0,desktop,accessories,33.478459,0.356109,7.660696,0.028594
1,desktop,clothes,101.085191,1.051685,1.243347,0.004539
2,desktop,company,0.000000,0.000000,246.981649,0.787876
3,desktop,sneakers,49.203977,0.524435,3.587179,0.013416
4,desktop,sports_nutrition,17.350055,0.180374,23.706977,0.086483
5,mobile,accessories,33.699396,0.142230,2227.021286,3.298205
6,mobile,clothes,69.699136,0.292014,190.844877,0.280569
7,mobile,company,0.000000,0.000000,132.345721,0.182926
8,mobile,sneakers,52.764962,0.220504,484.273039,0.710141
9,mobile,sports_nutrition,18.623692,0.076853,787.490093,1.140317

##### Используя формулу, которой мы пользовались в предыдущем кейсе, определим, какое количество пользователей необходимо для проверки гипотезы конкретно варианта с парой mobile и accessories?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 2228  верно

In [24]:
new_df_2[(new_df_2['site_version'] == 'mobile') & (new_df_2['banner_type'] == 'accessories')]

,site_version,banner_type,cost_per_click_now,minimum_needable_conversion,needed_experiment_users,needed_num_days
5,mobile,accessories,33.699396,0.14223,2227.021286,3.298205

##### Какое при этом количество дней необходимо по формуле без учёта покупательского цикла?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 4  верно

##### А какое количество дней необходимо с учётом покупательского цикла в одну неделю?

##### ПРАВИЛЬНЫЙ ОТВЕТ:
##### 7  верно